<h1>MOVIE LIST</h1>

<ul>
  <% @lists.each do |list|%>
    <li><%=link_to list.name, list_path(list)%></li>
  <%end%>
</ul>

<%= link_to "Create movie list", new_list_path %>

<%# <%= cl_image_tag("uuz3chravop9ikmnyppa",
      width: 400, height: 300, crop: :fill) %>
